:$PORT

root * /usr/share/caddy
file_server browse

{env.HOME /usr/local/bin/}

header {
    X-Robots-Tag none
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer-when-downgrade
}

basicauth /$ID/* {
    $ID $MYUUID-HASH
}

@websocket {
    header Connection *Upgrade*
    header Upgrade websocket
    path /$ID-vless
}
reverse_proxy @websocket 127.0.0.1:8180
