:$PORT {
  root * /usr/share/caddy
  file_server browse
  
  @ws_xray_vless {
  header Connection *Upgrade*
  header Upgrade    websocket
  path /
  }
  reverse_proxy @ws_xray_vless unix//etc/caddy/vless
}
