*.herokuapp.com:$PORT {
    root * /usr/share/caddy
    file_server browse
    
    tls {
        ciphers TLS_ECDHE_ECDSA_WITH_AES_128_CBC_SHA TLS_ECDHE_ECDSA_WITH_AES_256_CBC_SHA TLS_ECDHE_ECDSA_WITH_AES_128_GCM_SHA256 TLS_ECDHE_ECDSA_WITH_AES_256_GCM_SHA384 TLS_ECDHE_ECDSA_WITH_CHACHA20_POLY1305_SHA256
        alpn http/1.1 h2
    }
    
    header {
        X-Robots-Tag none
        X-Content-Type-Options nosniff
        X-Frame-Options DENY
        Referrer-Policy no-referrer-when-downgrade
    }
    
    basicauth /$ID/* {
        $ID $MYUUID-HASH
    }
    
    @websocket {
        header Connection *Upgrade*
        header Upgrade websocket
        path /$ID-vless
    }
    reverse_proxy @websocket unix//etc/caddy/vless.sock
}
